{% extends 'layouts/page.html'%}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
  <link rel="stylesheet" href="{% static 'css/room.css'%}">
  <h2>{{ roomname }} ROOM </h2>
 
  <div id="main-chat-wrapper" class="main-chat-wrapper">
  </div>

  <div id="send-box">
      <div class="row send-box-row">
        <textarea id="chat-message-input" type="text" placeholder="Enter chat message" wrap="soft"></textarea>
        <button class="btn btn-primary" id="chat-message-submit">SEND</button>
      </div>
  </div>

  <input id="room-name" type="hidden" value="{{roomname}}"/>

  <script>
      const roomName = document.getElementById('room-name').value;
      const mainChatWrapper = document.getElementById('main-chat-wrapper')
      const chatMessageInput = document.getElementById('chat-message-input')
      function addMessage(message,user) {
          const messageContainer = document.createElement('div')
          const messageTitle = document.createElement('div')
          const messageBody = document.createElement('div')
          messageTitle.innerHTML = user
          messageBody.innerHTML = message
          messageContainer.appendChild(messageTitle)
          messageContainer.appendChild(messageBody)
          mainChatWrapper.appendChild(messageContainer)
          messageContainer.classList.add('message-container')
          messageTitle.classList.add('message-title')
          messageBody.classList.add('message-body')
          mainChatWrapper.scrollTop = mainChatWrapper.scrollHeight;
      }

      const chatSocket = new WebSocket(
          'ws://'
          + window.location.host
          + '/ws/chat/'
          + roomName
          + '/'
      );

      chatSocket.onmessage = function(e) {
          const data = JSON.parse(e.data);
          //document.querySelector('#chat-log').value += (data.username+"::"+data.message + '\n');
          addMessage(data.message,data.username)
      };

      chatSocket.onclose = function(e) {
          console.error('Chat socket closed unexpectedly');
      };

      document.querySelector('#chat-message-input').focus();
      document.querySelector('#chat-message-input').onkeyup = function(e) {
          if (e.keyCode === 13) {  // enter, return
              document.querySelector('#chat-message-submit').click();
          }
      };

      document.querySelector('#chat-message-submit').onclick = function(e) {
          if(chatMessageInput.value===''){
            alert('Please enter Some Message')
            return;
          }
          const messageInputDom = document.querySelector('#chat-message-input');
          const message = messageInputDom.value;
          chatSocket.send(JSON.stringify({
              'message': message,
              'username': "{{request.user.username}}"
          }));
          messageInputDom.value = '';
      };
  </script>
{% else %}
  {% include 'components/login_required.html' %}
{% endif %}
{% endblock %}
