 {% extends 'layouts/page.html' %} 
 {% load static %}
 {% block content %}

    {% if valid_user %}
        <div class="container">
            <div class="fieldWrapper register-btn mt-3">
              <h2>Please Enter New Password For {{email}}</h2>
              <input type="hidden" id="hidden-user-email" value="{{email}}"/>
            </div>
            <div class="fieldWrapper">
              <input type="password" name="password_1" id="password_1"  placeholder="Enter Password">
            </div>
            <div class="fieldWrapper">
              <input type="password" name="password_2" id="password_2"  placeholder="Confirm Password">
            </div>
            <i class="bi bi-eye-slash" id="togglePassword"></i>
            <div id="mainErrorDiv">
            </div>
            <div class="fieldWrapper" id="goto-login-container" style="display: none;">
              <button class="btn btn-danger" id="goto-login-btn" onclick="gotoLogin()">LOGIN HERE</button>
            </div>
            <div class="fieldWrapper">
              <button class="btn btn-success" id="toggle-password-btn">SHOW PASSWORD</button>
            </div>
            <div class="fieldWrapper">
              <button class="btn btn-primary" id="password-reset-btn" onclick="submitNewPassword()">RESET PASSWORD</button>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'js/globals.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/confirmnewpassword.js' %}"></script>
    {% else %}
        <div class="container mt-3">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
              <div>
                FAILURE
              </div>
            </div>
            <div class="alert alert-danger d-flex align-items-center" role="alert">
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
              <div>
                NO SUCH ACCOUNT EXISTS
              </div>
            </div>
          <div style="display:flex;justify-content:center;">
            <h2> 
              <a href="https://api.whatsapp.com/send?phone=+919699243003">CONTACT ADMIN</a>
            </h2>
          </div>
        </div>
    {% endif %}

{% endblock %}