 {% extends 'layouts/page.html' %} 
 {% load static %}
 {% block content %}

<div class="container">
    <div class="fieldWrapper register-btn mt-3">
      <h2>Please Enter Email Address Of Your Account</h2>
    </div>
    <div class="fieldWrapper">
      <input type="text" name="email" id="email"  placeholder="Enter email address">
    </div>
    <div id="mainErrorDiv">
    </div>
    <div class="fieldWrapper">
      <button class="btn btn-primary" id="password-reset-btn" onclick="sendResetPasswordLink()">SEND PASSWORD RESET LINK</button>
    </div>
</div>  

 <script type="text/javascript" src="{% static 'js/globals.js' %}"></script>
 <script type="text/javascript" src="{% static 'js/forgotpassword.js' %}"></script>
 {% endblock %}