 {% extends 'layouts/page.html' %} 
 {% load static %}
 {% block content %}


<meta name="google-signin-scope" content="profile email" />
<meta
  name="google-signin-client_id"
  content="1071226708234-rpc0tvkput2jic3551nss6t3j0oru1j5.apps.googleusercontent.com"
/>
<script src="https://apis.google.com/js/platform.js"></script>
<div class="container">


<div class="fieldWrapper register-btn mt-3">
  <h2>Login</h2>
 </div>

<div class="fieldWrapper">
   <input type="text" name="email" id="email"  placeholder="Enter email address">
</div>

<div class="fieldWrapper">
   <input type="password" name="password" id="password" placeholder="Enter password">
</div>


    <div id="mainErrorDiv">
    </div>
<div class="fieldWrapper">
   <button class="btn btn-primary" onclick="loginUser()">Login</button>
</div>

<div class="fieldWrapper">
    <div class="g-signin2 google-div" data-onsuccess="onSignIn" data-theme="dark"></div> 
</div>

<div class="fieldWrapper">
   <button class="btn btn-success" onclick="gotoForgotPassword()">Forgot Password</button>
</div>


</div>  
 <script type="text/javascript" src="{% static 'js/globals.js' %}"></script>
 <script type="text/javascript" src="{% static 'js/google.js' %}"></script>
 <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
 {% endblock %}