 {% extends 'layouts/page.html' %} 
 {% load static %}
 {% block content %}

<div class="container">


<div class="fieldWrapper register-btn mt-3">
  <h2>Register</h2>
 </div>

<div class="fieldWrapper">
   <input type="text" name="username" id="username"  placeholder="Enter username" required>
</div>
    <div id="usernameErrorDiv">
    </div>

<div class="fieldWrapper">
   <input type="text" name="email" id="email"  placeholder="Enter email address">
</div>
    <div id="emailErrorDiv">
    </div>

<div class="fieldWrapper">
   <input type="password" name="password" id="password" placeholder="Enter password">
</div>
    <div id="passwordErrorDiv">
    </div>


<div class="fieldWrapper">
   <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm password">
</div>
    <div id="confirmpasswordErrorDiv">
    </div>

    <div id="mainErrorDiv">
    </div>
<div class="fieldWrapper">
   <button id="register-btn" class="btn btn-primary" onclick="createUser(document.querySelector('#email').value,document.querySelector('#username').value,document.querySelector('#password').value)">Register</button>
</div>

<div class="fieldWrapper">
    <div class="g-signin2 google-div" data-onsuccess="onSignIn" data-theme="dark"></div> 
</div>


</div>  
 <script type="text/javascript" src="{% static 'js/globals.js' %}"></script>
 <script type="text/javascript" src="{% static 'js/google.js' %}"></script>
 <script type="text/javascript" src="{% static 'js/register.js' %}"></script>
 {% endblock %}