{% extends 'layouts/page.html'%}
{% load static %}
{% block content %}
  {% if user.is_authenticated %}
      <div class="card text-center mt-5">
            <div class="card-header">
              <h2> {{ username }} </h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6 border border-dark">
                        Questions:
                    </div>
                    <div class="col-6 border border-dark">
                        {{ questioncount }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 border border-dark">
                        Answers:
                    </div>
                    <div class="col-6 border border-dark">
                        {{ answercount }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 border border-dark">
                        Question Likes:
                    </div>
                    <div class="col-6 border border-dark">
                        {{ questionlikescount }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 border border-dark">
                        Answer Likes:
                    </div>
                    <div class="col-6 border border-dark">
                        {{ answerlikescount }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 border border-dark">
                        Total Likes:
                    </div>
                    <div class="col-6 border border-dark">
                        {{ totallikescount }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 border border-dark">
                        <b>Reputation Score:</b>
                    </div>
                    <div class="col-6 border border-dark">
                        <b>{{ reputationscore }}</b>
                    </div>
                </div>
            </div>
        
            <div class="card-body">
              <a href="#" class="card-link">Chat</a>
              <a href="#" class="card-link">Donate</a>
            </div>

  {% else %}
      <div class="container mt-3">
              <div class="alert alert-danger d-flex align-items-center" role="alert">
                  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                  <div>
                    FAILURE
                  </div>
              </div>
              <div class="alert alert-danger d-flex align-items-center" role="alert">
                  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                  <div>
                    YOU NEED TO LOGIN TO VIEW THIS PAGE
                  </div>
              </div>
              <div style="display:flex;justify-content:center;">
                  <h2> 
                    <a href="{% url 'login-new' %}">LOGIN HERE</a>
                  </h2>
              </div>
      </div>
  {% endif %}
{% endblock %}