{% load static %}


<blockquote id="{{response.id}}">
  <p id="p-{{response.id}}" class="response-body"></p>
  <small class="response-author">by <a href="{% url 'user-profile' response.authorname %}" target="_blank">{{response.authorname}}</a></small>
<!--
  {% if user.is_authenticated %}
    <button class="reply-button" onclick="handleReplyButton({{response.id}})">Reply</button>
  {% endif %}
-->


  {% if response.doeslike %}
  <span id="span-like-{{ response.id }}" onclick="removelike({{response.id}}, {{ request.user.id }})">
    <img src="{% static 'images/icons/heartactive.svg' %}" alt="heart"/>
  </span>
  <span style="display:none" id="span-unlike-{{ response.id }}" onclick="addlike({{response.id}}, {{ request.user.id }})">
    <img src="{% static 'images/icons/heart.svg' %}" alt="heart"/>
  </span>
  {% else %}
      {% if user.is_authenticated  %}
          <span style="display:none" id="span-like-{{ response.id }}" onclick="removelike({{response.id}}, {{ request.user.id }})">
            <img src="{% static 'images/icons/heartactive.svg' %}" alt="heart"/>
          </span>
          <span id="span-unlike-{{ response.id }}" onclick="addlike({{response.id}}, {{ request.user.id }})">
            <img src="{% static 'images/icons/heart.svg' %}" alt="heart"/>
          </span>
      {% else %}
          <span style="display:none" id="span-like-{{ response.id }}" onclick="removelike({{response.id}}, 'None')">
            <img src="{% static 'images/icons/heartactive.svg' %}" alt="heart"/>
          </span>
          <span id="span-unlike-{{ response.id }}" onclick="addlike({{response.id}}, 'None')">
            <img src="{% static 'images/icons/heart.svg' %}" alt="heart"/>
          </span>
      {% endif %}
  {% endif %}
  <span id="span-likecount-{{ response.id }}">{{ response.count }}</span>


  <blockquote id="reply-form-container-{{response.id}}" class="reply-form-container">
    <form method="POST" action="/reply" class="reply-form">
      {% csrf_token %}
      <input type="hidden" name="question" value="{{question.id}}"/>
      <input type="hidden" name="parent" value="{{response.id}}"/>
      {{reply_form.body}}
      <button type="button" class="reply-form-cancel-button" onclick="handleCancelReply({{response.id}})">Cancel</button>
      <input type="submit" class="reply-form-submit-button" value="Reply"/>
    </form>
  </blockquote>


  {% for children in response.get_responses %}
  {% include 'components/response.html' with response=children %}
  {% endfor %}

<script type="text/javascript" src="{% static 'js/response.js' %}"></script>

</blockquote>
