{% extends 'layouts/page.html' %}

{% block content %}
{% load static %}
<div class="page">
<h1 class="title">All questions</h1>

{% for question in questions %}
<div class="question-list-item">
  <a href="{% url 'question' question.id %}">
    <p class="question-list-item-title">
      {{question.title}}
    </p>
    <p class="question-list-item-author">
      by {{question.authorname}}
    </p>
  </a>
  {% if question.doeslike %}
  <span id="span-like-{{ question.id }}" onclick="removelike({{question.id}}, {{ request.user.id }})">
    <img src="{% static 'images/icons/heartactive.svg' %}" alt="heart"/>
  </span>
  <span style="display:none" id="span-unlike-{{ question.id }}" onclick="addlike({{question.id}}, {{ request.user.id }})">
    <img src="{% static 'images/icons/heart.svg' %}" alt="heart"/>
  </span>
  {% else %}
      {% if user.is_authenticated  %}
          <span style="display:none" id="span-like-{{ question.id }}" onclick="removelike({{question.id}}, {{ request.user.id }})">
            <img src="{% static 'images/icons/heartactive.svg' %}" alt="heart"/>
          </span>
          <span id="span-unlike-{{ question.id }}" onclick="addlike({{question.id}}, {{ request.user.id }})">
            <img src="{% static 'images/icons/heart.svg' %}" alt="heart"/>
          </span>
      {% else %}
          <span style="display:none" id="span-like-{{ question.id }}" onclick="removelike({{question.id}}, 'None')">
            <img src="{% static 'images/icons/heartactive.svg' %}" alt="heart"/>
          </span>
          <span id="span-unlike-{{ question.id }}" onclick="addlike({{question.id}}, 'None')">
            <img src="{% static 'images/icons/heart.svg' %}" alt="heart"/>
          </span>
      {% endif %}
  {% endif %}
  <span id="span-likecount-{{ question.id }}">{{ question.count }}</span>
</div>
{% endfor %}
</div>
<script type="text/javascript" src="{% static 'js/globals.js' %}"></script>
<script type="text/javascript" src="{% static 'js/homepage.js' %}"></script>
{% endblock %}
