{% load static %}
<meta name="google-signin-scope" content="profile email" />
<meta
  name="google-signin-client_id"
  content="1071226708234-rpc0tvkput2jic3551nss6t3j0oru1j5.apps.googleusercontent.com"
/>
{% comment %}
<script src="https://apis.google.com/js/platform.js"></script>
{% endcomment %}
<script src="https://apis.google.com/js/client:platform.js?onload=startApp"></script>
<nav class="navbar">
  <div id="hamburger">
    <span
      style="font-size: 30px; cursor: pointer; color: white"
      onclick="openNav()"
      >&#9776;</span
    >
  </div>
  <div class="main-menu">
    <ul>
      <li><a href="{% url 'index' %}">Questions</a></li>
    </ul>
  </div>
  <div class="user-menu">
    <ul class="auth">
      <li>
        {% if request.get_full_path == '/' %}
        <input id="search" type="text" placeholder="Search Questions" />
        {% endif %}
      </li>
      {% if user.is_authenticated %}
      <li><a href="#">{{ user.username }}</a></li>
      <li><a href="{% url 'new-question' %}">Ask question</a></li>
      {% comment %}
      <li><a href="{% url 'logout' %}">Logout</a></li>
      " {% endcomment %}
      <li><button id="logout-btn" onclick="logoutMain()">Logout</button></li>
      {% else %}
      <li><a href="{% url 'login-new' %}">Login</a></li>
      <li><a href="{% url 'register-new' %}">Register</a></li>
      {% endif %}
    </ul>
  </div>

  <div style="display: none" class="fieldWrapper">
    <div
      class="g-signin2 google-div"
      data-onsuccess="onSignIn"
      data-theme="dark"
    ></div>
  </div>
</nav>
<div id="match-list"></div>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  {% if user.is_authenticated %}
  <a href="#">{{user.username}}</a>
  <a href="{% url 'index' %}">Questions</a>
  <a href="{% url 'new-question' %}">Ask question</a>
  <button id="logout-btn" onclick="logoutMain()">Logout</button>
  {% else %}
  <a href="{% url 'index' %}">Questions</a>
  <a href="{% url 'login-new' %}">Login</a>
  <a href="{% url 'register-new' %}">Register</a>
  {% endif %}
</div>

<script>
  //const localRootUrl = "https://quora-final-three.herokuapp.com";
  const localRootUrl = "http://localhost:5000";
  function logoutMain() {
    fetch(localRootUrl + "/api/accounts/checkuser", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Authorization: "Token " + localStorage.getItem("token"),
      },
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
        if (data.auth_type === "google") {
          var auth2 = gapi.auth2.getAuthInstance();
          auth2.signOut().then(function () {
            console.log("User signed out.");
          });
          auth2.disconnect();
          window.location.href = localRootUrl + "/logout";
        } else {
          window.location.href = localRootUrl + "/logout";
        }
      });
  }
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }

  ////////////////////////////////////////////////////////////////////////////////////////////////
  if (document.getElementById("search")) {
    const search = document.getElementById("search");
    const matchList = document.getElementById("match-list");

    const searchStates = async (searchText) => {
      const res = await fetch(
        localRootUrl + "/api/question-list/"
        // "http://127.0.0.1:8000/api/question-list/"
      );
      const states = await res.json();

      // Get Matches to current text inputData
      let matches = states.filter((state) => {
        // const regex = new RegExp(`^${searchText}`, "gi");
        // return state.title.match(regex) || state.body.match(regex);
        if (state.title.toLowerCase().includes(searchText.toLowerCase())) {
          return state.title;
        }
      });

      if (searchText.length === 0) {
        matches = [];
        matchList.innerHTML = "";
      }

      outputHtml(matches);
      // console.log(matches);
    };

    //Show Results In Html
    const outputHtml = (matches) => {
      if (matches.length > 0) {
        const html = matches
          .map(
            (match) => `
        <div class = "card card-body mb-1">
          <h4><a href="${localRootUrl}/question/${match.id}" target="_blank">${match.title}</a></h4>
        </div>
      `
          )
          .join("");
        console.log(html);
        matchList.innerHTML = html;
      }
    };

    search.addEventListener("input", () => searchStates(search.value));
  }
</script>
