{% extends 'layouts/page.html' %}
{% load static %}

{% block content %}
<div class="page new-question-page">
<h1 class="title">New question</h1>
{% csrf_token %}
<div class="fieldWrapper">
  <input type="text" id="id_title" class="form-control" placeholder="Title" name="title"/>
</div>
<textarea id="id_body_main" placeholder="textarea"></textarea>
  <div id="mainErrorDiv">
  </div>
<button onclick="addNewQuestion()" id="submit-btn" class="btn btn-success mt-3"/>SUBMIT</button>

</div>
<script type="text/javascript" src="{% static 'js/globals.js' %}"></script>
<script type="text/javascript" src="{% static 'js/handle-new-question.js' %}"></script>
{% endblock %}
