{% extends 'layouts/page.html' %}
{% load static %}

{% block content %}
 <script type="text/javascript" src="{% static 'js/globals.js' %}"></script>
  <script>

    fetch(rootUrl + "/api/get-question-data/", {
            method: 'POST',
            headers: {
              'Content-Type': "application/json",
            },
            body: JSON.stringify({
                id:{{question.id}}
            })
        })
        .then(response => response.json())
        .then(data => {
            document.querySelector("#embed-question-body").innerHTML = data.body;
        }) 

  </script>
<div class="page question-page">

<h2 class="question-title">{{question.title}}</h2>
<div id="embed-question-body" class="container">
</div>
<span class="question-author">author : {{question.author.username}}</span>

<div class="responses-container">
  <h4 class="responses-container-heading">Responses</h4>

  {% if not question.responses.all %}
    <p class="no-responses-text">No responses yet</p>
  {% else %}
  <div id="responses-container-updated">
  </div>
    {% for response in theResponses %}
      {% include 'components/response.html' with response=response %}
    {% endfor %}
  {% endif %}
</div>
<script>
    fetch(rootUrl + "/api/get-response-data/", {
            method: 'POST',
            headers: {
              'Content-Type': "application/json",
            },
            body: JSON.stringify({
                id:{{question.id}}
            })
        })
        .then(response => response.json())
        .then(data => {
            for(let i = 0; i < data.body.length; i++) {
              let query = "p-" + data.body[i].id 
              let p = document.getElementById(query);
              p.innerHTML = data.body[i].body
            }
        })  
</script>

{% if user.is_authenticated %}

{% csrf_token %}
<div class="fieldWrapper">
  <label>Your answer:</label>
  <input type="hidden" id="questionid" value="{{ question.id}}"/>
  <textarea id="id_body_main" placeholder="textarea"></textarea>
  <div id="mainErrorDiv">
  </div>
  <button onclick="addNewResponse()" id="submit-btn" class="btn btn-success mt-3"/>SUBMIT</button>
</div>


{% endif %}

</div>
<script type="text/javascript" src="{% static 'js/handle-new-answer.js' %}"></script>
{% endblock %}
